<div class="panel">
  <div class="title" (click)="opened = !opened">
    {{title}}
    <span
      class="icon"
      *ngIf="icon"
      (click)="iconClickHandler($event)"
    >
      {{icon}}
    </span>
  </div>
  <div class="body" *ngIf="opened">
    <ng-content></ng-content>
  </div>
</div>
