<template>
    <div class="panel">
        <div
                class="title"
                @click="toggleOpened"
        >
            {{title}}
            <span
                    v-if="iconCode"
                    class="icon"
                    @click.stop="iconClickHandler(title)"
                    v-html="iconCode"
            >
            </span>
        </div>
        <div
                v-if="opened"
                class="body"
        >
            <slot></slot>
        </div>
    </div>
</template>
<script lang="ts">
import { map as iconsMap } from "../assets/icons";
import Vue from "vue";
import Component from "vue-class-component";
import { Emit, Prop, Watch } from "vue-property-decorator";

@Component({})
export default class PanelClass extends Vue {
  @Prop() title!: string;
  @Prop() icon!: string;

  @Emit("iconClick")
  iconClickHandler(title: String) {}

  opened = true;
  toggleOpened() {
    this.opened = !this.opened;
  }

  @Watch("title", { immediate: true })
  onPersonChanged(value: String) {
    console.log(`This awesome title ${value}!`);
  }

  get iconCode() {
    return iconsMap[this.icon];
  }
}
</script>
<style src="./panel.css">
</style>
