.panel {
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    padding: 20px;
    color: black;
    margin-bottom: 10px;
    text-align: left;
}

.panel .title .icon {
    float: right;
}

.panel .title {
    font-size: 1.3em;
    font-weight: bold;
}

.panel .body {
    font-size: 1em;
}
