<template>
    <div class="panel">
        <div
            class="title"
            @click="toggleOpened"
        >
            {{title}}
            <span
                v-if="iconCode"
                class="icon"
                @click.stop="iconClickHandler"
                v-html="iconCode"
            >
            </span>
        </div>
        <div
            v-if="opened"
            class="body"
        >
            <slot></slot>
        </div>
    </div>
</template>
<script>
import { map as iconsMap } from "../assets/icons";
export default {
  name: "PanelComponent",
  props: {
    title: {
      type: String,
      default: ""
    },
    icon: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      opened: true
    };
  },
  computed: {
    iconCode() {
      return iconsMap[this.icon];
    }
  },
  methods: {
    iconClickHandler() {
      this.$emit("iconClick", this.title);
    },
    toggleOpened() {
      this.opened = !this.opened;
    }
  },
  watch: {
    title: {
      handler(value) {
        console.log(`This awesome title ${value}!`);
      },
      immediate: true
    }
  }
};
</script>
<style src="./panel.css">
</style>
