<template>
  <div id="app">
    <img class="logo" src="./assets/logo.png">
    <panel-component
      title="Mario Rossi"
      icon="STAR"
      @iconClick="addToFavorite"
    >
      <h1>First</h1>
      <p>Yeah!</p>
    </panel-component>

    <panel-class
      title="Mario Biondi"
      icon="STAR"
      @iconClick="addToFavorite"
    >
      <h1>Second</h1>
      <p>Hmm!</p>
    </panel-class>

    <panel-jsx
      title="Super Mario"
      icon="STAR"
      @iconClick="addToFavorite"
    >
      <h1>Third</h1>
      <p>Oh...</p>
    </panel-jsx>

    <panel-component
      title="Dynamic Component"
    >
      <component
        v-for="(item, index) in items"
        :key="index"
        :is="item.component"
        v-bind="item.props"
        v-on="item.events"
      >
        <h1>Example {{index + 1}}</h1>
      </component>
    </panel-component>
  </div>
</template>

<script>
import PanelComponent from "./components/PanelComponent.vue";
import PanelClass from "./components/PanelClass.vue";
import PanelJsx from "./components/PanelJsx";

export default {
  components: {
    PanelJsx,
    PanelClass,
    PanelComponent
  },
  data() {
    return {
      items: [
        {
          component: PanelJsx,
          props: {
            title: "A",
            icon: "STAR"
          },
          events: {
            iconClick: this.addToFavorite
          }
        },
        {
          component: PanelClass,
          props: {
            title: "B"
          },
          events: {
            iconClick: this.addToFavorite
          }
        },
        {
          component: PanelComponent,
          props: {
            icon: "STAR"
          },
          events: {
            iconClick: this.addToFavorite
          }
        }
      ]
    };
  },
  methods: {
    addToFavorite(title) {
      console.log(`Hey ${title}, you're my best friend!`);
    }
  }
};
</script>

<style lang="scss">
</style>
